<table border="3">
    <thead>
        <th>S.No</th>
        <th>Task Name</th>
        <th>STATUS</th>
        <th>Created Date</th>
        <th>Actions</th>
    </thead>

<tbody>

    <tr>
        <td>1</td>

        <td>Installing Angular software</td>

        <td>Completed</td>

        <td>02-08</td>

        <td><a href="Edit" >Edit</a></td>

    </tr>

    <tr>

        <td>2</td>

        <td>VisualCode</td>

        <td>Completed</td>

        <td>02-8</td>

        <td><a href="Edit">Edit</a></td>

    </tr> 
    <tr>

        <td>3</td>

        <td>Creation of Components</td>

        <td>Completed</td>

        <td>01/08/2022</td>

        <td><a href="Edit">Edit</a></td>

    </tr> 

